<div class="col-md-4">
    <div class="card my-4 rounded shadow">
      <div class="card-header">
        <h4>
          LEAD NAME
        </h4>
        <h5><i class="fas"></i> Manager</h5>
      </div>
      <div class="card-body px-2">
        <ul class="list-group list-group-flush border">
          <li class="list-group-item px-2">ID:</li>
          <li class="list-group-item px-2">Email:</li>
          <li class="list-group-item px-2">Special:</li>
        </ul>
      </div>
    </div>
  </div>